.page {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.header {
    height: 40px;
    margin: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-p {
    height: 40px;
    margin: 0;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.header-p-right {
    height: 40px;
    margin: 0;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button-left {
    height: 40px;
    width: 150px;
    margin: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.button-right {
    height: 40px;
    margin: 0;
    width: 80px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.header-img {
    flex-shrink: 0;
}

.header-a {
    margin-left: 2%;
    flex-shrink: 0;
    color: grey;
    cursor:pointer;
}

.header-left {
    display: inline-block;
    width: 400px;
}

.header-right {
    flex-grow: 0;
    width: 260px;
    height: 40px;
    margin: 0;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-input {
    width: 80%;
    background-color:whitesmoke;
    margin-left: 8%;
    border: none;
    height: 25px;
    padding-left: 3% ;
}

.circular{
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    background-color: whitesmoke;
    font-size: 0.6rem;
    color: grey;
    text-align: center;
    overflow:hidden;
    line-height:30px;
    cursor:pointer;
}
a#useName {
    color: grey;
    margin-left: 5px;
    cursor:pointer;
}

